<form class="form">
  <mat-form-field class="form-input">
    <mat-select placeholder="Enctyption method">
      <mat-option value="10px">WPA2 + AES</mat-option>
      <mat-option value="12px">WPA + AES</mat-option>
      <mat-option value="14px">WPA + TKIP/AES</mat-option>
      <mat-option value="18px">WPA + TKIP</mat-option>
      <mat-option value="20px">WEP</mat-option>
      <mat-option value="none">Open Network (no security)</mat-option>
      <mat-option value="unknown">I don't know</mat-option>
    </mat-select>
    <mat-hint>Choose your WiFi authentication method</mat-hint>
  </mat-form-field>

  <mat-form-field class="form-input">
    <input matInput placeholder="Network/SSID" />
    <mat-hint>Enter your WiFi name</mat-hint>
  </mat-form-field>

  <mat-form-field class="form-input">
    <input matInput placeholder="Password" type="password" />
    <mat-hint>Enter your WiFi password</mat-hint>
  </mat-form-field>

  <mat-checkbox class="form-input"
    >Is your WiFi SSID (name) hidden?</mat-checkbox
  >

  <div class="form-buttons">
    <button mat-raised-button color="primary">
      <mat-icon aria-hidden="false" aria-label="WiFi Signal" [inline]="true"
        >cloud_download</mat-icon
      >
      Download
    </button>
    <button mat-raised-button color="primary">
      <mat-icon aria-hidden="false" aria-label="WiFi Signal" [inline]="true"
        >print</mat-icon
      >Print
    </button>
  </div>
</form>
